input {
  /*'border: none;*/
  /*border-bottom: 2px solid #ffffff;*/
}

.btn.btn-default:hover {
  color: #6C3313;
  background-color: #ffffff;
}

.btn.btn-default {
  /*text-decoration: none;*/
  /*padding: 10px;*/
  /*font-weight: 600;*/
  /*font-size: 20px;*/
  color: #ffffff;
  /*font-family: Arial;*/
  background-color: Transparent;
  border: 2px solid #ffffff;
}
