body{
   	 margin: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    background:  #6C3313;
}

#btn-menu{
    display: none;
    position: center;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li{
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.menu li:hover{
    background: rgba(0,0,0,0.3);
    
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    
}

@media (max-width: 1800px){
    header label{
        display: block;
    }
    
    .menu{
        position: absolute;
        background: #6C3313;
        width: 20%;
        margin-left: -70%;
        transition: all 0.4s;
    }
    
    .menu ul{
        flex-direction: column;
    }
    
    .menu il{
        border-top: 3px solid #fff;
    }
    
    #btn-menu:checked ~ .menu {
        margin: 0px;
    }

}